* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #171416;
}

h1,
h2,
h3 {
  font-family: "Source Code Pro", Arial, Helvetica, sans-serif;
  color: #F5F5F5;
}

h1 {
  font-size: 2.375rem;
}

h2 {
  font-size: 1.78rem;
}

h3 {
  font-size: 1.34rem;
}

p {
  font-family: "JetBrains Mono", Verdana, Geneva, Tahoma, sans-serif;
  color: #F5F5F5;
  font-size: 1rem;
}

