.main-button,
.more-button {
  border: 1px solid var(--button-border);
  width: 148px;
  padding: 10px;
  border-radius: 30px;
  background-color: var(--button);
  color: var(--black);
  font-family: "Source Code Pro", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
  text-transform: uppercase;
}

.main-button:hover {
  background-color: var(--hover-main-btn);
  text-decoration: none;
  transform: scale(1.04);
  color: var(--black);
  font-weight: 600;
  font-size: 1rem;
}

.more-button {
  border: 1px solid var(--dark-pink);
  background-color: var(--pink);
}  

.more-button:hover {
  background-color: var(--hover-more-btn);
  text-decoration: none;
  transform: scale(1.04);
  color: var(--black);
  font-weight: 600;
  font-size: 1rem;
}