.main-button {
  border: 1px solid #9fff94;
  width: 148px;
  height: 45px;
  border-radius: 30px;
  background-color: #50834A;
  color: black;
  font-family: "Source Code Pro", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-button:hover {
  background-color: #9fff94;
  text-decoration: none;
  transform: scale(1.02);
  color: black;
}