.footer {
  background-color: var(--middle-pink);
  background-image: linear-gradient(var(--middle-pink), var(--dark-pink));
  min-height: 15rem;
  height: auto;
  width: 100%;
}

footer .content-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  margin: auto
}

.footer p,
.footer a {
  color: var(--black);
}

.footer img {
  margin-top: 2rem;
}

.footer-icon-container i {
  font-size: 2rem;
}

.footer-icon-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 2rem;
}

.copyright {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
}