header {
  height: 4rem;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  position: relative;
}

.header-nav-container {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin: 0 2rem;
}

nav {
  padding: 0px;
  margin: 0px;
  display: none;
}

nav.active {
  display: flex;
  position: absolute;
  background-color: black;
  left: 0;
  top: 100%;
  width: 100%;
}

nav ul {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

nav a {
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: lowercase;
  display: block;
  color: #F5F5F5;
}

.hamburger-icon {
  display: flex;
  color: #F5F5F5;
  font-size: 1.2rem;
  width: 1rem;
  justify-content: center;
  align-items: center;
  background:none;
  border: none;
  font-family: "JetBrains Mono", Verdana, Geneva, Tahoma, sans-serif;
  gap: 0.5rem;
}

.hamburger-icon:hover {
  cursor: pointer;
}

.search-bar {
  display: none;
}

.nav-menu {
  border: 1px solid white;
  width: 30rem;
  height: 30rem;
}



@media only screen and (min-width: 1000px) {

  .current {
    text-decoration: underline;
  }

  .hamburger-icon {
    display: none;
  }

  nav {
    display: flex;
  }

  nav ul {
    flex-direction: row;
  }
 
  .header-nav-container {
    margin: 0;
  }

  nav.active {
    display: flex;
    position: unset;
    background-color: unset;
    width: unset;
  }

}