.content-container {
  max-width: 1440px;
  margin: auto;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.heading-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.big-nav-container {
  display: none;
}

.big-nav-container a {
  font-family: "Source Code Pro", Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--background-color);
  font-size: clamp(3rem, calc(2.9rem + 2vw), 3.5rem);
  gap: 1rem;
  max-width: max-content;
  position: relative;
  display: block;
}

.big-nav-container a:hover {
  transform: scale(1.05);
}

.big-nav-container a.active::before,
.big-nav-container a:hover::before,
nav a.active::before,
nav a:hover::before {
  content: "{";
  color: var(--pink);
  position: absolute;
  left: -0.6em;
  top: 50%;
  transform: translateY(-50%);
}

.big-nav-container a.active::after,
.big-nav-container a:hover::after,
nav a.active::after,
nav a:hover::after {
  content: "}";
  color: var(--pink);
  position: absolute;
  right: -0.6em;
  top: 50%;
  transform: translateY(-50%);
}

.break {
  background-color: var(--pink);
  width: 100%;
  height: 2rem;
}

.hello-container {
  height: 30rem;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
  flex: 1 1 40rem;
}

.hello-box {
  height: 245px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hello-box h1 {
  background-color: var(--background-color);
  color: var(--white);
  text-align: center;
  font-size: clamp(4rem, calc(3.8rem + 9vw), 12rem);
  position: absolute;
}

.hello-box a {
  color: var(--middle-pink);
  font-size: clamp(1.2rem, calc(1rem + 1vw), 3rem);
  text-align: center;
  padding: 1rem;
  max-width: 400px;
  width: 100vw;
}

.hello-box a:hover {
  font-size: clamp(1.4rem, calc(1.3rem + 1vw), 3rem);
}

.hello-box:hover h1:nth-child(2) {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  transform: translateY(-50px);
  transition: 0.3s;
}

.hello-box:hover h1:nth-child(3) {
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  transform: translateY(50px);
  transition: 0.3s;
}

.arrow {
  position: absolute;
  top: -8vw;
  height: clamp(5rem, calc(4rem + 5vw), 8rem);
  transform: rotate(-90deg);
  left: 105px;
  color: var(--middle-pink);
}

.welcome-text {
  padding: 0 2rem;
  text-align: center;
}

.section-heading-container {
  max-width: 1035px;
  flex-direction: column;
  align-items: start;
}

.contact-heading-container {
  max-width: 32rem;
  padding: 1rem;
  display: flex;
  width: 100%;
  text-align: start;
}

.background-image {
  background-image: url(/images/background-img.jpg);
  min-height: 130vh;
  width: 100%;
  max-width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  position: relative;
}

.background-image::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--black);
  opacity: 0.55;
}

.playground-text-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.playground-text-box-container {
  position: absolute;
  right: 12%;
  top: 60%;
}

.about-text {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex-direction: column;
}

.about-img {
  max-width: 32rem;
  width: 100%;
}

.sub-header-container {
  max-width: 600px;
  padding: 1rem;
}

.sub-header-container i {
  color: var(--middle-pink);
  font-size: 3rem;
  margin: 0 1rem 2rem 0;
}




@media only screen and (min-width: 1000px) {

  .arrow {
    top: 0%;
    left: unset;
    right: -12vw;
    transform: unset;
    height: clamp(5rem, calc(5rem + 5vw), 8rem);
    transform: unset;
  }

  

  .big-nav-container {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 37.5rem;
    justify-content: center;
    padding: clamp(1rem, calc(0.8rem + 3vw), 5rem);
    flex: 1 1 0%;
  }

}

