.content-width {
  max-width: 1440px;
  margin: 0 4rem;
  position: relative;
}

.big-nav-container {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  width: 37.5rem;
  height: 50rem;
  justify-content: center;
}

.big-nav-container p {
  font-family: "Source Code Pro", Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #171416;
  font-size: 5rem;
  gap: 1rem;
}

.break {
  background-color: #DD8A7A;
  width: 100%;
  height: 3.1rem;
}

.hello-container {
  height: 50rem;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 850px;
  flex-direction: column;
}

.hello-box {
  height: 245px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hello-box h1 {
  background-color: #171416;
  color: #F5F5F5;
  text-align: center;
  font-size: 12rem;
  position: absolute;
}

.hello-box p {
  color: #DD8A7A;
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
  padding: 1rem;
}



.hello-box:hover h1:nth-child(2) {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  transform: translateY(-50px);
  transition: 0.3s;
}

.hello-box:hover h1:nth-child(3) {
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  transform: translateY(50px);
  transition: 0.3s;
}

.arrow {
  position: absolute;
  top: 32%;
  transform: translate(23vw);
}
