.carousel-wrapper {
  max-width: 1017px;
  width: 100%;
  overflow: hidden;
  margin: auto;
  position: relative;
}

.carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 0.5rem);
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel :where(.post-card) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-dragging {
  scroll-behavior: auto;
  scroll-snap-type: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging .post-card {
  user-select: none;
  cursor: grab;
}

.carousel.no-event .post-card {
  pointer-events: none;
}

.carousel-arrow-left,
.carousel-arrow-right {
  font-size: 1.5rem;
  color: var(--white);
  padding: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-arrow-left {
  left: 0%;
}

.carousel-arrow-right {
  right: 0%;
}

.loading-indicator {
  border: 1rem solid var(--white);
  border-top: 1rem solid var(--dark-pink);
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* CAROUSEL POSTS */

.carousel .post-card {
  scroll-snap-align: start;
}

.post-card {
  max-width: 16rem;
  width: 100%;
  border: 1px solid var(--white);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  transition: all 0.2s ease-in-out;
}

.post-card > div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.post-card img {
  max-width: 16rem;
  width: 100%;
}

.post-card p,
.blog-post p {
  font-size: 0.8rem;
}

.post-card h2,
.blog-post h2 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.api-error {
  border: solid 1px #A41C1C;
  padding: 1rem;
  background-color: #efbcbc;
  color: #A41C1C;
  border-radius: 3px;
}

/* MODAL */

.modal {
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 1px 2px #ababab;
  flex-direction: column;
  border: none;
  text-align: center;
  margin: 0 auto;
  top: 10vh;
}

.modal::backdrop {
  background-color: #000000;
  opacity: 0.6;
}


/* BLOG POST LIST */

.blog-post-container {
  max-width: 1000px;
}

.blog-post {
  width: 100%;
  border: 1px solid var(--white);
  display: flex;
  padding: 2rem;
  gap: 2rem;
  margin: 1rem 0;
  flex-wrap: wrap;
  color: var(--white);
  transition: all 0.2s ease-in-out;
}

.blog-post:hover,
.post-card:hover {
  background-color: var(--dark-grey);
}

.blog-post-img {
  flex: 1 1 16rem;
  max-width: 20rem;
}

.blog-post-text {
  flex: 1 1 20rem;
}

.load-more-container > div {
  border: 1px solid var(--middle-pink);
  color: var(--middle-pink);
  margin: 1rem;
  padding: 1rem;
}

.detail-post-container {
  max-width: 800px;
  color: var(--white);
}

.detail-post-container figure,
.about-img {
  padding: 1rem;
  border: 1px solid;
  margin: 0 0 2rem;
  color: var(--white);
}





@media only screen and (min-width: 706px) {

  .blog-post-img {
    max-width: 14rem;
  }

  .post-card {
    max-width: 18rem;
    padding: 2rem;
  }
  
}

@media only screen and (min-width: 900px) {

  .post-card {
    max-width: 20rem;
    padding: 2rem;
  }


}
