/* .carousel-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
} */


.loading-indicator {
  border: 1rem solid #ababab;
  border-top: 1rem solid var(--dark-pink);
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* CAROUSEL POSTS */

.post-card {
  max-width: 20rem;
  width: 100%;
  border: 1px solid var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  transition: all 0.2s ease-in-out;
}

.post-card > div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.post-card img {
  max-width: 16rem;
  width: 100%;
}

.post-card p,
.blog-post p {
  font-size: 0.8rem;
}

.post-card h2,
.blog-post h2 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.error {
  border: solid 1px #A41C1C;
  padding: 1rem;
  background-color: #efbcbc;
  color: #A41C1C;
  border-radius: 3px;
}


/* BLOG POST LIST */

.blog-post-container {
  max-width: 1000px;
}

.blog-post {
  width: 100%;
  border: 1px solid var(--white);
  display: flex;
  padding: 2rem;
  gap: 2rem;
  margin: 1rem 0;
  flex-wrap: wrap;
  color: var(--white);
  transition: all 0.2s ease-in-out;
}

.blog-post:hover,
.post-card:hover {
  background-color: var(--dark-grey);
}

.blog-post-img {
  flex: 1 1 16rem;
  max-width: 16rem;
}

.blog-post-text {
  flex: 1 1 20rem;
}

.load-more-container > div {
  border: 1px solid var(--middle-pink);
  color: var(--middle-pink);
  margin: 1rem;
  padding: 1rem;
}

.detail-post-container {
  max-width: 800px;
  color: var(--white);
}

.detail-post-container figure {
  padding: 1rem;
  border: 1px solid;
  margin: 0 0 2rem;
}