.flex {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  display: grid;
  grid-template-columns: auto 60%;
  align-items: center;
}

.db {
  display: block ;
}

.mb {
  margin-bottom: 5rem;
}

.ais {
  align-items: flex-start;
}