.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-wrap-revers {
  flex-wrap: wrap-reverse;
}

.flex-non-wrap {
  display: flex;
}

.flex-dir-col {
  flex-direction: column;
}

.just-center {
  justify-content: center;
}

.just-end {
  justify-content: end;
}

.just-between {
  justify-content: space-between;
}

.gaps {
  gap: 1rem;
}

.gapm {
  gap: 2rem;
}

.gapl {
  gap: 3rem;
}

.grid {
  display: grid;
  grid-template-columns: auto 60%;
  align-items: center;
}

.db {
  display: block ;
}

.ma {
  margin: auto;
}

.mn {
  margin: 0;
}

.marg-s {
  margin: 1rem;
}

.marg-m {
  margin: 2rem;
}

.mb {
  margin-bottom: 5rem;
}

.mb-m {
  margin-bottom: 3rem;
}

.mt {
  margin-top: 5rem;
}

.mt-m {
  margin-top: 3rem;
}

.p-l-r {
  padding: 0 5rem;
}

.pt {
  padding-top: 5rem;
}

.pb {
  padding-bottom: 5rem;
}

.ais {
  align-items: flex-start;
}

.aic {
  align-items: center;
}

.aie {
  align-items: end;
}

.max-w-32 {
  max-width: 32rem;
}

.dn {
  display: none;
}

.background-white {
  background-color: var(--white);
}

.border-white {
  border: 1px solid var(--white);
  padding: 0 2rem 2rem;
}


